In [2]:
import numpy as np
import pandas as pd
train_df = pd.read_csv("..//Data//train.csv")
test_df = pd.read_csv("..//Data//test.csv")
train_df.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27481 entries, 0 to 27480
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   textID         27481 non-null  object
 1   text           27480 non-null  object
 2   selected_text  27480 non-null  object
 3   sentiment      27481 non-null  object
dtypes: object(4)
memory usage: 858.9+ KB

In [4]:
train_df.shape

(27481, 4)

In [5]:
tweet = " "+" ".join(train_df.loc[1,'text'].split())
tweet

' Sooo SAD I will miss you here in San Diego!!!'

In [6]:
selected_text = " ".join(train_df.loc[1,'selected_text'].split())
selected_text

'Sooo SAD'

In [7]:
def jaccard(txt1, txt2): 
    a = set(txt1.lower().split()) 
    b = set(txt2.lower().split())
    c = a.intersection(b)
    return float(len(c)) / (len(a) + len(b) - len(c))

# First set of sentences
Actual_1 = 'My life is totally awesome'
Predict_1 = 'awesome life'

# Second set of sentences
Actual_2 = 'We are active kagglers'
Predict_2 = 'We are active kagglers'
    
print("Jaccard score for first set of scentences: {}".format(jaccard(Actual_1,Predict_1)))
print("Jaccard score for second set of scentences: {}".format(jaccard(Actual_2,Predict_2)))

Jaccard score for first set of scentences: 0.4
Jaccard score for second set of scentences: 1.0

In [8]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
import re

stemmer=PorterStemmer()
stop_words=set(stopwords.words("english"))
def tweet_preprocessing(tweets):
   list_tweets_words=[]
   for tweet in tweets:
    list_tweet_words=[]
    tweet=tweet.lower()
    ##Remove userName
    tweet=re.sub(r"@[a-z0-9_-]*","",tweet)
    ##Remove hyperlinks
    tweet=re.sub(r"https?://.*[\s]*","",tweet)
    ## Remove numbers and characters
    tweet=re.sub(r"[^a-z ]*","",tweet)
    ## Replace multiple spaces by single space
    tweet=re.sub(r"[\s]+"," ",tweet)
    ##Word Tokenization
    tweet_words=word_tokenize(tweet)
    for word in tweet_words:
        #if(word not in stop_words):
         # word=stemmer.stem(word)
          list_tweet_words.append(word)
    ## join : from list of words to string
    list_tweets_words.append(list_tweet_words)
   return list_tweets_words

tweets =['99I`d have responded, if I were going','Sooo SAD']  
test = tweet_preprocessing(tweets)
test

[['id', 'have', 'responded', 'if', 'i', 'were', 'going'], ['sooo', 'sad']]

In [9]:
tweet_words=word_tokenize('id respond go')
tweet_words
train_df.text

0                      I`d have responded, if I were going
1            Sooo SAD I will miss you here in San Diego!!!
2                                my boss is bullying me...
3                           what interview! leave me alone
4         Sons of ****, why couldn`t they put them on t...
                               ...
27476     wish we could come see u on Denver  husband l...
27477     I`ve wondered about rake to.  The client has ...
27478     Yay good for both of you. Enjoy the break - y...
27479                           But it was worth it  ****.
27480       All this flirting going on - The ATG smiles...
Name: text, Length: 27481, dtype: object

In [11]:



train_df["text_tokenize"]=tweet_preprocessing(train_df.text.astype(str))
train_df["selected_text_tokenize"]=tweet_preprocessing(train_df.selected_text.astype(str))
train_df.head()




### probables issues
## preprocessing caracteres

,textID,text,selected_text,sentiment,text_tokenize,selected_text_tokenize
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,"[id, have, responded, if, i, were, going]","[id, have, responded, if, i, were, going]"
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,"[sooo, sad, i, will, miss, you, here, in, san,...","[sooo, sad]"
2,088c60f138,my boss is bullying me...,bullying me,negative,"[my, boss, is, bullying, me]","[bullying, me]"
3,9642c003ef,what interview! leave me alone,leave me alone,negative,"[what, interview, leave, me, alone]","[leave, me, alone]"
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,"[sons, of, why, couldnt, they, put, them, on, ...","[sons, of]"

In [12]:
train_df.to_csv("preprocessed_train_data.csv")

In [13]:
#####################################
## Feature engenniring

In [92]:
preprocessed_df = pd.read_csv("preprocessed_train_data.csv",keep_default_na=False)
del preprocessed_df['Unnamed: 0']
preprocessed_df.head(6)

,textID,text,selected_text,sentiment,text_tokenize,selected_text_tokenize
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,"['id', 'have', 'responded', 'if', 'i', 'were',...","['id', 'have', 'responded', 'if', 'i', 'were',..."
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,"['sooo', 'sad', 'i', 'will', 'miss', 'you', 'h...","['sooo', 'sad']"
2,088c60f138,my boss is bullying me...,bullying me,negative,"['my', 'boss', 'is', 'bullying', 'me']","['bullying', 'me']"
3,9642c003ef,what interview! leave me alone,leave me alone,negative,"['what', 'interview', 'leave', 'me', 'alone']","['leave', 'me', 'alone']"
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,"['sons', 'of', 'why', 'couldnt', 'they', 'put'...","['sons', 'of']"
5,28b57f3990,http://www.dothebouncy.com/smf - some shameles...,http://www.dothebouncy.com/smf - some shameles...,neutral,[],[]

In [42]:
#df["initial_indice"] = df.apply(lambda x: index_finder(x.text_split,x.selected_text_split,0),axis=1)
import ast
#ast.literal_eval(x)
#s = preprocessed_df.selected_text_tokenize[0]
s= ast.literal_eval(preprocessed_df.selected_text_tokenize[0])[-1]
s =ast.literal_eval(preprocessed_df.text_tokenize[0]).index('going')
s
#preprocessed_df["first_index"] = preprocessed_df.text_tokenize.index(ast.literal_eval(preprocessed_df.selected_text_tokenize[0])

6

In [117]:
# if we want first index we choose True, and False for the latest index
# we should use the next 2 lines one time
#preprocessed_df["text_tokenize"] = preprocessed_df.text_tokenize.apply(lambda x: ast.literal_eval(x))
#preprocessed_df["selected_text_tokenize"] = preprocessed_df.selected_text_tokenize.apply(lambda x: ast.literal_eval(x))
#preprocessed_df.head()
import ast
def find_index (text_list,selectedText_list,i=True):  
    #find first word in selected_text
    try :
        if i == True :
            first_w = selectedText_list[0]
            #print(first_w)
            return (int(text_list.index(first_w))) 
            #find last word in selected_text
        else:
            last_w = selectedText_list[-1]
            # look for first_w index in text list
            return (int(text_list.index(last_w)))
    except :
        pass
a = preprocessed_df.text_tokenize.loc[2]
b = preprocessed_df.selected_text_tokenize.loc[2]  
s = find_index (a,b,i=True)
s

preprocessed_df["first_index"] = preprocessed_df.apply(lambda row : find_index(row.text_tokenize,row.selected_text_tokenize,True),axis=1)
preprocessed_df["last_index"] = preprocessed_df.apply(lambda row : find_index(row.text_tokenize,row.selected_text_tokenize,False),axis=1)
#to convert float to int pandas
pd.options.display.float_format = '{:,.0f}'.format
preprocessed_df

,textID,text,selected_text,sentiment,text_tokenize,selected_text_tokenize,first_index,last_index
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,"[id, have, responded, if, i, were, going]","[id, have, responded, if, i, were, going]",0,6
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,"[sooo, sad, i, will, miss, you, here, in, san,...","[sooo, sad]",0,1
2,088c60f138,my boss is bullying me...,bullying me,negative,"[my, boss, is, bullying, me]","[bullying, me]",3,4
3,9642c003ef,what interview! leave me alone,leave me alone,negative,"[what, interview, leave, me, alone]","[leave, me, alone]",2,4
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,"[sons, of, why, couldnt, they, put, them, on, ...","[sons, of]",0,1
...,...,...,...,...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative,"[wish, we, could, come, see, u, on, denver, hu...","[d, lost]",nan,9
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative,"[ive, wondered, about, rake, to, the, client, ...","[dont, force]",13,14
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive,"[yay, good, for, both, of, you, enjoy, the, br...","[yay, good, for, both, of, you]",0,5
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive,"[but, it, was, worth, it]","[but, it, was, worth, it]",0,1
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral,"[all, this, flirting, going, on, the, atg, smi...","[all, this, flirting, going, on, the, atg, smi...",0,9

In [118]:
# check for null values
preprocessed_df['first_index'].isnull().values.any()

True

In [116]:
preprocessed_df.to_csv("feature_engineered.csv")

In [120]:
##########################
######## tokenization

In [124]:
import nltk
import pandas as pd 
import ast
import tensorflow
from tensorflow.python.keras.preprocessing.text import Tokenizer
from tensorflow.python.keras.preprocessing.sequence import pad_sequences
import pickle
df = pd.read_csv("feature_engineered.csv")
df["text_tokenize"] = df.text_tokenize.apply(lambda row: ast.literal_eval(row))
del df['Unnamed: 0']
df

C:\Users\Achraf\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Achraf\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Achraf\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Achraf\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Achraf\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Achraf\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,textID,text,selected_text,sentiment,text_tokenize,selected_text_tokenize,first_index,last_index
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,"[id, have, responded, if, i, were, going]","['id', 'have', 'responded', 'if', 'i', 'were',...",0,6
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,"[sooo, sad, i, will, miss, you, here, in, san,...","['sooo', 'sad']",0,1
2,088c60f138,my boss is bullying me...,bullying me,negative,"[my, boss, is, bullying, me]","['bullying', 'me']",3,4
3,9642c003ef,what interview! leave me alone,leave me alone,negative,"[what, interview, leave, me, alone]","['leave', 'me', 'alone']",2,4
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,"[sons, of, why, couldnt, they, put, them, on, ...","['sons', 'of']",0,1
...,...,...,...,...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative,"[wish, we, could, come, see, u, on, denver, hu...","['d', 'lost']",nan,9
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative,"[ive, wondered, about, rake, to, the, client, ...","['dont', 'force']",13,14
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive,"[yay, good, for, both, of, you, enjoy, the, br...","['yay', 'good', 'for', 'both', 'of', 'you']",0,5
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive,"[but, it, was, worth, it]","['but', 'it', 'was', 'worth', 'it']",0,1
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral,"[all, this, flirting, going, on, the, atg, smi...","['all', 'this', 'flirting', 'going', 'on', 'th...",0,9

In [125]:
tokenizer = Tokenizer(num_words=20000,oov_token="<OOV>")
tokenizer.fit_on_texts(df.text_tokenize)
tokenized_text = tokenizer.texts_to_sequences(df.text_tokenize)
tokenized_selected_text = tokenizer.texts_to_sequences(df.selected_text_tokenize)
len(tokenizer.word_index)

26477

In [127]:
tokenizer.word_index["but"]

19

In [129]:
#after tokenzation we can prepare input of the module  
pad_token_text = pad_sequences(tokenized_text,padding = "post")
pad_token_text

array([[ 291,   16, 9941, ...,    0,    0,    0],
       [ 410,  116,    1, ...,    0,    0,    0],
       [   5, 1266,    9, ...,    0,    0,    0],
       ...,
       [ 220,   29,   11, ...,    0,    0,    0],
       [  19,    8,   27, ...,    0,    0,    0],
       [  28,   31, 6007, ...,    0,    0,    0]])

In [132]:
pd.DataFrame(pad_token_text).to_csv("pad_token_text.csv",header=None,index=None)
df.to_csv("tokenized.csv",index=None)

In [134]:
with open('tokenizer.pickle', 'wb') as handle:
    pickle.dump(tokenizer, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
###########################################